*
!.gitignore
!news_photos/
!news_photos/Cup.jpg
!news_photos/Cup 2.jpg
!news_photos/football 1.jpg
!news_photos/football 2.jpg
!news_photos/football 3.jpg
!news_photos/NHL.jpg
!news_photos/NBA.jpg
!news_photos/Formula 1.jpg
