*
!.gitignore
!news_photos/
!news_photos/Cup.jpg
!news_photos/Basketball.jpg
!news_photos/Hockey.jpg
!news_photos/football 1.jpg
!news_photos/football 2.jpg
!news_photos/Formula 1.jpg
!news_photos/Box.jpg
!news_photos/Mbappe.jpg
!news_photos/Cup Stanley.jpg
!news_photos/Klichko.jpg



